@font-face {
  font-family: "Pricedown";
  src: url("../fonts/pricedown bl.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DarkerHollow";
  src: url("../fonts/DarkerHollow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KR Drak";
  src: url("../fonts/KR Drak.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#profilePicture {
  cursor: pointer; /* Ubah cursor menjadi tangan ketika mouse diarahkan ke gambar */
}

/* Reset dan Styling Dasar */
body {
  font-family: Arial, sans-serif;
  margin-left: 10%;
  padding: 0;
  display: flex;
  flex: 1;
  line-height: 1.6;
  height: 100vh;
  flex-direction: column;
  background-image: url("../images/gitar.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  margin-right: 20px;
}

header nav a {
  color: #fff;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex: 1;
}

/* Sidebar */
aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  background-color: #000000;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}

aside .profile {
  text-align: center;
  margin-bottom: 20px;
}

aside .profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 4px double #00e1ff; /* Menggunakan border double */
  box-shadow: 0 4px 6px rgba(255, 0, 0, 0.3); /* Menambahkan bayangan */
  animation: borderAnim 3s linear infinite;
}
@keyframes borderAnim {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

aside .profile img:hover {
  border: 4px solid #15ff00;
  transform: scale(1.1); /* Efek memperbesar */
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
}

aside .profile h1 {
  font-family: "KR Drak", sans-serif;
  color: #ffffff;
  text-shadow: #ffffff;
  font-size: 28px;
  font-weight: bold;
  text-decoration: solid;
}

aside p a i {
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  color: rgb(0, 227, 243);
}

.profile i {
  animation: muncul 1s;
  animation-fill-mode: both;
}

@keyframes muncul {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

aside p i {
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  color: rgb(0, 227, 243);
}

@media (max-width: 768px) {
  .gallery li {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .gallery li {
    width: 100%;
  }
}

@keyframes bergerak {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

aside p i:last-child {
  margin-right: 10px;
}

aside nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

aside nav ul h1 {
  font-weight: 100;
  font-family: "Pricedown", sans-serif;
  font-size: 40px;
  color: #ff0000;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.986);
}

aside nav ul li {
  margin-bottom: 15px;
}

aside nav ul li a {
  font-family: "Arial", sans-serif;
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  transition: color 0.3s ease;
}
@keyframes membulat {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
aside nav ul li a i {
  color: rgb(255, 0, 0);
  text-shadow: #f1b900 1px 1px;
  font-size: 20px;
  animation: membulat 2s infinite;
}
aside nav ul li a:hover {
  color: #000000;
  background-color: #00f7ff;
  border-radius: 10%;
}

aside nav ul li a.active {
  background-color: #2ef0e6;
  color: rgb(255, 0, 0);
  border-radius: 4px;
  padding: 5px 10px;
  transition: background-color 0.5s ease-in-out;
}

.menu a.active i {
  color: #fffafa; /* Warna ikon untuk menu aktif */
}

/*Mengatur isi section*/ /*..............................*/
/* Section */
.hobbies {
  flex: 1;
  padding: 20px;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.hobby h3 {
  margin-bottom: 15px;
  color: #ff0000;
  text-shadow: #eeff00 -1px 1px 1px;
  margin-left: 10%;
  margin-right: 47%;
  background-color: rgba(0, 0, 0, 0.603);
  animation: bergerak 2s infinite;
}

.hobby-content {
  display: flex;
  flex: 1;
}

.hobby-content img.gambar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 10%;
  margin-right: 20px;
  margin-bottom: 100%;
  object-fit: cover;
  border: 4px double #00e1ff; /* Menggunakan border double */
  box-shadow: 0 4px 6px rgba(255, 0, 0, 0.3); /* Menambahkan bayangan */
  animation: borderAnim 3s linear infinite;
}

.hobby-content img:hover {
  border: 4px solid #ff0000;
  transform: scale(1.1); /* Efek memperbesar */
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
}
img {
  cursor: pointer;
}

.hobby-text {
  flex: 1;
}

.hobby-text p {
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.726);
  animation: muncul 2s ease-in-out;
  border-radius: 5px;
}

.hobby-text h5 {
  margin-top: 20px;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.726);
  margin-right: 73%;
  border-radius: 20px;
  border: 4px double #000000;
  animation: muncul 2s ease-in-out;
  font-size: 14px;
}
.hobby-text h6 {
  margin-top: 10px;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.726);
  border: 4px double #ff0000;
  margin-right: 90%;
  border-radius: 20px;
  margin-left: -10%;
  font-size: 14px;
}

.mood h1 {
  margin-top: 20px;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.726);
  margin-right: 90%;
  border: 4px double #ff0000;
  margin-left: -10%;
  font-size: 14px;
  left: 50%;
  border-radius: 20px;
}

.hobby-text ul {
  list-style: disc;
  margin-left: 20px;
  color: rgb(255, 255, 255);
  border-radius: 20px;
}
.hobby-text .rock-style ul {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 20px;
  
}

.hobby-text strong {
  text-align: right;
  color: #020202;
  background-color: rgba(51, 255, 0, 0.726);
  border: #ff0000 2px solid;
}
.hobby-text .gaya li{
  color: #000000;
  background-color: rgba(255, 255, 255, 0.726);
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 700px;
  margin: auto;
  width: 80%;
  display: block;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #ccc;
}

/* Footer */
footer {
  color: #fff;
  padding: 5px;
  text-align: center;
  clear: both;
  position: fixed;
  bottom: 0;
  left: 10%;
  width: 100%;
}

.gambar {
  cursor: pointer;
}
