@font-face {
  font-family: "Pricedown";
  src: url("../fonts/pricedown bl.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DarkerHollow";
  src: url("../fonts/DarkerHollow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KR Drak";
  src: url("../fonts/KR Drak.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#profilePicture {
  cursor: pointer;
}

@keyframes muncul {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .gallery li {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .gallery li {
    width: 100%;
  }
}

@keyframes bergerak {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes membulat {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  margin: auto;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: rgb(63, 61, 61);
  margin-left: 10%;
  background-image: url("../images/Memancing.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh;
}

.container {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  background-color: #000000;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}

aside .profile {
  text-align: center;
  margin-bottom: 20px;
}

aside .profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 4px double #00e1ff; /* Menggunakan border double */
  box-shadow: 0 4px 6px rgba(255, 0, 0, 0.3); /* Menambahkan bayangan */
  animation: borderAnim 3s linear infinite;
}

@keyframes borderAnim {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

aside .profile img:hover {
  border: 4px solid #ff0000;
  transform: scale(1.1); /* Efek memperbesar */
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
}

aside .profile h1 {
  font-family: "KR Drak", sans-serif;
  color: #ffffff;
  text-shadow: #ffffff;
  font-size: 28px;
  font-weight: bold;
  text-decoration: solid;
}

aside p i {
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  color: rgb(0, 227, 243);
}

aside p i:last-child {
  margin-right: 3px;
}

aside p a i {
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  color: rgb(0, 227, 243);
}

.profile i {
  animation: muncul 1s;
  animation: bergerak 2s infinite;
  animation-fill-mode: both;
}

aside .profile p a {
  color: #fff;
  margin: 0 5px;
  text-decoration: none;
  font-size: 1.2rem;
}

aside .profile p a:hover {
  color: #09ff00;
}

aside nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

aside nav ul li {
  margin: 10px 0;
}

aside nav ul li a {
  font-family: "Arial", sans-serif;
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  transition: color 0.3s ease;
}

aside nav ul li a i {
  color: rgb(255, 0, 0);
  text-shadow: #f1b900 1px 1px;
  font-size: 20px;
  animation: membulat 2s infinite;
}

aside nav ul li a:hover {
  color: #000000;
  background-color: #00f7ff;
  border-radius: 10%;
  margin-right: 30%;
}

aside nav ul li a.active {
  background-color: #2ef0e6;
  color: rgb(255, 0, 0);
  border-radius: 4px;
  padding: 5px 10px;
  transition: background-color 0.5s ease-in-out;
}


/* Konten utama */
.hobbies {
  flex: 1;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.gallery {
  max-width: 900px;
  margin: 0 auto;
}

.hobby {
  margin-bottom: 30px;
  border: 2px double #0ff7ff;
  border-radius: 8px;
  background-color: rgba(255, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(229, 255, 0, 0.1);
  overflow: hidden;
  margin-left: 2%;
  animation: borderAnim 3s linear infinite;
}

.hobby h3 {
  color: #000000;
  text-shadow: rgb(255, 255, 255) 1px 1px 1px;
  padding: 10px;
  margin: 0;
  font-size: 1.2rem;
  animation: bergerak 2s infinite;
  animation-fill-mode: both;
}

.hobby-content {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  margin-left: 2%;
}

.hobby-text {
  flex: 1;
  min-width: 300px;
  margin-right: 15px;
}

.hobby-text p {
  margin-bottom: 15px;
  margin-left: 2%;
  color: #000000;
  background-color: #00e1ff;
  padding: 2%;
}
.lokasi ul {
  color: rgb(255, 255, 255);
  background-color: #000000;
  margin-left: 2%;
  border-radius: 5%;
}
.senar li{
  background-color: #15ff00;
  margin-left: 2%;
  border-radius: 10%;
  padding: 2px;
}

.waktu p{
background-color: rgb(255, 255, 255);
text-shadow: #fffb00 1px 1px 2px;
border-radius: 5%;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Efek bayangan */
border: 2px solid #ff0000;
padding: 2px;
margin-left: 2%;
}
.jadwal p{
background-color: #15ff00;
border-radius: 5%;
box-shadow:  0 4px 6px rgba(0, 0, 0, 0.1);
border:  2px solid #00ffff;
padding: 3px;
margin-left: 2%;
}

.hobby-text ul {
  padding-left: 20px;
  margin-left: 2%;
}

.hobby-text ul li {
  list-style-type: disc;
  margin-bottom: 5px;
  margin-left: 2%;
}

.hobby img.gambar {
  max-width: 250px;
  width: 95%;
  border-radius: 50%;
  border: 6px double #00e1ff; /* Menggunakan border double */
  box-shadow: 0 4px 6px rgba(255, 0, 0, 0.3); /* Menambahkan bayangan */
  animation: borderAnim 3s linear infinite;
  cursor: pointer;
}

.hobby img:hover {
  border: 4px solid #15ff00;
  transform: scale(1.1); /* Efek memperbesar */
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
}

section strong {
  color: rgb(0, 0, 0);
  margin-left: 2%;
  background-color: #f9fcfc;
  border-radius: 5%;
}

section b strong {
  background-color: #00e1ff;
}

section a strong {
  color: rgb(0, 0, 0);
  margin-left: 4%;
  background-color: #00ffff;
  animation: gerak 5s infinite;
  animation-fill-mode:backwards;
}
@keyframes gerak {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 20%;
  }
  100% {
    margin-left: 0;
  }
}
/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 700px;
  margin: auto;
  width: 80%;
  display: block;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #ccc;
}

/* Footer */
footer {
  color: #fff;
  padding: 5px;
  text-align: center;
  clear: both;
  position: fixed;
  bottom: 0;
  left: 10%;
  width: 100%;
}
